<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<dict>
		<key>com.adobe.Adobe-Reader</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.adobe.Adobe-Reader</string>
			<key>CFBundleVersion</key>
			<string>87816</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/67B5EF78-E4A5-43FB-A1C3-F2098C8E4570/Adobe Reader.app</string>
		</dict>
		<key>com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/FF0A7602-DABC-4D8F-807A-74EEEF8B411B/WebContentAnalysisUI.app</string>
		</dict>
		<key>com.apple.WebViewService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.WebViewService</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/383EDEEA-0181-4AED-A886-A06324A6A759/WebViewService.app</string>
		</dict>
		<key>com.apple.calculator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.calculator</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/F18E8B73-1688-4F4C-9B95-26BC6595F39D/Calculator.app</string>
		</dict>
		<key>com.apple.datadetectors.DDActionsService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.datadetectors.DDActionsService</string>
			<key>CFBundleVersion</key>
			<string>105</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/4BF0CC3D-DD30-4D26-B15A-70E73DA813E9/DDActionsService.app</string>
		</dict>
		<key>com.apple.ios.StoreKitUIService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.ios.StoreKitUIService</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/2BF0D1B4-6E17-424B-A96B-D76EBB29B453/StoreKitUIService.app</string>
		</dict>
		<key>com.apple.mobilemail</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilemail</string>
			<key>CFBundleVersion</key>
			<string>53</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/0923BE4E-36C4-439E-B24A-CC4110CB25BD/MobileMail.app</string>
		</dict>
		<key>com.apple.mobilesafari</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilesafari</string>
			<key>CFBundleVersion</key>
			<string>9537.53</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/CB7CB22F-DAD1-4C5B-9DEB-D173C1FC1D62/MobileSafari.app</string>
		</dict>
		<key>com.apple.weather</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.weather</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/556D2BBC-F40C-494E-9995-ECAC866D39F8/Weather.app</string>
		</dict>
		<key>com.apple.webapp</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.webapp</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/ADCFCA6C-EF95-43DE-A942-97A3FAD3D334/Web.app</string>
		</dict>
		<key>com.atebits.Tweetie2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.atebits.Tweetie2</string>
			<key>CFBundleVersion</key>
			<string>6.1.2</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/B18FF442-3994-4613-A77E-5651385B01D9/Twitter.app</string>
		</dict>
		<key>com.baimobile.gd.credential.service</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.baimobile.gd.credential.service</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/2E7FB28E-2D78-4174-BB4B-C414B0F707F1/baiMobileCredentialServicesForGood.app</string>
		</dict>
		<key>com.cisco.anyconnect.gui</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cisco.anyconnect.gui</string>
			<key>CFBundleVersion</key>
			<string>3.0.09266</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/F5C67297-4083-4CCA-B4FA-75799F84DD9B/AnyConnect.app</string>
		</dict>
		<key>com.cisco.jabberIM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cisco.jabberIM</string>
			<key>CFBundleVersion</key>
			<string>163302</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/825B1CDD-8A15-4515-AC05-74D15BBF7B5D/Jabber.app</string>
		</dict>
		<key>com.good.gmmiphone</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.good.gmmiphone</string>
			<key>CFBundleVersion</key>
			<string>2.4.1.2244</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/A6DC71B5-55DC-4F4B-A3F0-D5B9E88D2CA4/Good.app</string>
		</dict>
		<key>com.mspecht.OWA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mspecht.OWA</string>
			<key>CFBundleVersion</key>
			<string>201312191049</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/7F057B76-4890-499D-8BA8-50E5B81781F4/Outlook.app</string>
		</dict>
		<key>com.shapeservices.implus</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.shapeservices.implus</string>
			<key>CFBundleVersion</key>
			<string>8.1</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/6B607B24-2592-43C5-8051-2E374A59BD09/IMPlusLite-iPad.app</string>
		</dict>
		<key>kr.co.infraware.poe1.gd</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>kr.co.infraware.poe1.gd</string>
			<key>CFBundleVersion</key>
			<string>4.0</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/28F26C1F-0C5E-46CF-A23B-29EDC6A7EFAE/DocMaster.app</string>
		</dict>
		<key>kr.co.infraware.polarisoffice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>kr.co.infraware.polarisoffice</string>
			<key>CFBundleVersion</key>
			<string>13187</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/4CCE5173-3D76-4E91-ACF5-5612ABFC8C2C/DocMaster.app</string>
		</dict>
		<key>net.juniper.junospulse</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.juniper.junospulse</string>
			<key>CFBundleVersion</key>
			<string>5.0.2.43243</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/C08A5149-663D-4C9D-B912-6A6A90164004/Junos Pulse.app</string>
		</dict>
	</dict>
	<key>BackupKeyBag</key>
	<data>
	VkVSUwAAAAQAAAADVFlQRQAAAAQAAAABVVVJRAAAABAENJ39ASVGarEMYGipqJEtSE1D
	SwAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAV1JBUAAA
	AAQAAAAAU0FMVAAAABSKaUIgKuJQvUBJ6i+yVYzGtks0uUlURVIAAAAEAAAnEFVVSUQA
	AAAQEVbwtjW4QaKp7oOVF7XlnENMQVMAAAAEAAAAAVdSQVAAAAAEAAAAAktUWVAAAAAE
	AAAAAFdQS1kAAAAoivhA4kdw1QAWFGw7vjbCXtBZ2MaRIdsveqUHCKRe075m33vREfoA
	a1VVSUQAAAAQbgL39azeRK+fQki9ytmK8kNMQVMAAAAEAAAAAldSQVAAAAAEAAAAAktU
	WVAAAAAEAAAAAFdQS1kAAAAoU70iUBMswMB/3O9868uwR6T4iANP8BNTaBDeDCFkqold
	o+ND8FEqEVVVSUQAAAAQ4odrFGF2RnSHSe3w/CifJUNMQVMAAAAEAAAAA1dSQVAAAAAE
	AAAAAktUWVAAAAAEAAAAAFdQS1kAAAAocU8GdW8ZgMvY1ys3E1V6CP0LJsA4rd1CYL5m
	heQffpgy1tXZNKZx5lVVSUQAAAAQoUZdGJo/TQeUo9fJlOgSxUNMQVMAAAAEAAAABFdS
	QVAAAAAEAAAAAktUWVAAAAAEAAAAAFdQS1kAAAAoL6blW14hEe+FrpHBllHPmEKv1dZ1
	ocxk75n9H6oR7eXRidpvpDY6s1VVSUQAAAAQcoAQJ2UYSCGH5NG7hHgybkNMQVMAAAAE
	AAAABVdSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoO/fWQQtxreqI1KVrMHWv
	kLBFtboR1Qk3ZsI0m6oJ8+sUNuoUE2ByzFVVSUQAAAAQeRDxhb1iQ3KNcLXStHQENUNM
	QVMAAAAEAAAABldSQVAAAAAEAAAAAktUWVAAAAAEAAAAAFdQS1kAAAAoGrmZ4iiAxx84
	17+wW6CQF6Wufe4MvCBX4Kgr+oS6OxJwMBcD/4GfL1VVSUQAAAAQ/FQMU2fGRMqWzzEK
	b9pHPENMQVMAAAAEAAAAB1dSQVAAAAAEAAAAAktUWVAAAAAEAAAAAFdQS1kAAAAoQx55
	uhWJtE4nXeqy0AGmitHvKhgAH7PaEOnlUYAILyPR6vjTDlKw8VVVSUQAAAAQ6voRPlqQ
	RvaHXBzrMX0z10NMQVMAAAAEAAAACFdSQVAAAAAEAAAAAktUWVAAAAAEAAAAAFdQS1kA
	AAAoPv465+OsQqoUYYAzQyykuakAx9uR/tAaJxapHKw+8f3DmWTKKIcSF1VVSUQAAAAQ
	VsKfG+RMQnGvS0UenxFrVUNMQVMAAAAEAAAACVdSQVAAAAAEAAAAA0tUWVAAAAAEAAAA
	AFdQS1kAAAAo7C7MulbGdAnHhzz9W1wwiquneIrka0J8a/Hv7vJ5KVBnUmtakg15cFVV
	SUQAAAAQGrLPwSbNTqKbgx7sBhbrikNMQVMAAAAEAAAACldSQVAAAAAEAAAAA0tUWVAA
	AAAEAAAAAFdQS1kAAAAol0/X+2ECLa4H653NfUsauhB1Mp6m6AVdDtBQ23epOocqp1S0
	NFUwy1VVSUQAAAAQdLGZE2/jRsGdTGKJDRNkJENMQVMAAAAEAAAAC1dSQVAAAAAEAAAA
	A0tUWVAAAAAEAAAAAFdQS1kAAAAoHnuJWl3PuAnt27DIsVY5cSZs8b46S+TiN2eFHKOj
	Cbqesu5jVTUivA==
	</data>
	<key>Date</key>
	<date>2014-02-12T17:33:32Z</date>
	<key>IsEncrypted</key>
	<true/>
	<key>Lockdown</key>
	<dict>
		<key>BuildVersion</key>
		<string>11B554a</string>
		<key>DeviceName</key>
		<string>Dan's iPhone</string>
		<key>ProductType</key>
		<string>iPhone5,1</string>
		<key>ProductVersion</key>
		<string>7.0.4</string>
		<key>SerialNumber</key>
		<string>DQGKQCSUFH1D</string>
		<key>UniqueDeviceID</key>
		<string>6f6111db26dc176cd9f9b055311c14531edfdfa8</string>
		<key>com.apple.Accessibility</key>
		<dict>
			<key>ClosedCaptioningEnabledByiTunes</key>
			<false/>
			<key>InvertDisplayEnabledByiTunes</key>
			<false/>
			<key>MonoAudioEnabledByiTunes</key>
			<false/>
			<key>SpeakAutoCorrectionsEnabledByiTunes</key>
			<false/>
			<key>VoiceOverTouchEnabledByiTunes</key>
			<false/>
			<key>ZoomTouchEnabledByiTunes</key>
			<false/>
		</dict>
		<key>com.apple.MobileDeviceCrashCopy</key>
		<dict>
		</dict>
		<key>com.apple.TerminalFlashr</key>
		<dict>
		</dict>
		<key>com.apple.mobile.data_sync</key>
		<dict>
			<key>Bookmarks</key>
			<dict>
				<key>AccountNames</key>
				<array>
					<string>iCloud</string>
				</array>
				<key>Sources</key>
				<array>
					<string>iCloud</string>
				</array>
			</dict>
			<key>Calendars</key>
			<dict>
				<key>AccountNames</key>
				<array>
					<string>iCloud</string>
					<string>Corp Email</string>
				</array>
				<key>Sources</key>
				<array>
					<string>iCloud</string>
					<string>Exchange</string>
				</array>
			</dict>
			<key>Contacts</key>
			<dict>
				<key>AccountNames</key>
				<array>
					<string>iCloud</string>
					<string>Corp Email</string>
				</array>
				<key>Sources</key>
				<array>
					<string>iCloud</string>
					<string>Exchange</string>
				</array>
			</dict>
			<key>Notes</key>
			<dict>
				<key>AccountNames</key>
				<array>
					<string>Corp Email</string>
				</array>
				<key>Sources</key>
				<array>
					<string>Exchange</string>
				</array>
			</dict>
		</dict>
		<key>com.apple.mobile.iTunes.accessories</key>
		<dict>
		</dict>
		<key>com.apple.mobile.wireless_lockdown</key>
		<dict>
		</dict>
	</dict>
	<key>SystemDomainsVersion</key>
	<string>20.0</string>
	<key>Version</key>
	<string>9.1</string>
	<key>WasPasscodeSet</key>
	<true/>
	<key>password</key>
	<string>1234</string>
</dict>
</plist>
